numpy==1.26.4
numba==0.63.0b1
cupy-cuda12x==13.6.0
scikit-image==0.19.3
scikit-learn==1.7.2
scikit-learn-intelex==2025.8.0
scikit-misc==0.5.1
scipy==1.15.3
scvi-tools==1.1.2
torch==2.6.0+cu124
torch-geometric==2.6.1
torch-scatter==2.1.2+pt26cu124
torch-sparse==0.6.18+pt26cu124
torchaudio==2.6.0+cu124
torchmetrics==1.6.0
torchvision==0.21.0+cu124
pyro-api==0.1.2
pyro-ppl==1.9.1
pandas==2.1.4
tqdm==4.66.1
anndata==0.10.9
scanpy==1.10.2
opencv-python==4.10.0.84
kneed==0.8.5
matplotlib==3.8.0
plotly==6.0.0
scvi-tools==1.1.2
sparsemax==0.1.9
fbgbp==0.2.1


